.sprite {
  background-image: url('../images/icons-sprite.png');
  background-position: left center;
  background-repeat: no-repeat;
}

.sprite.barchart_icon_png {
  background-position: 0 -433px;
  width: 55px;
  height: 37px;
}

$markedColor: black;
$greenColor: #a7c93d;
$orangeColor: #ff6b00;
$yellowColor: #ffbf02;
$greyColor: #666666;
$yellowGradient: 0deg, rgb(255, 188, 2) 0%, rgb(255, 206, 2) 100%;
$orderShadowColor: rgb(223, 238, 255);
$inputBackgroundColor: #eef2f7;
$deseasesLabelColors: #ec9a6a, #e47643, #ec5b19;

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1170px;
}

.container {
  background-image: url('../images/hero-bg.jpg');
  background-position: 50% -2px;
  background-size: 165%;
  background-size: 2700px auto;
  background-repeat: no-repeat;
  width: 100%;
}

.logo {
  @extend .flex-row;
  background-position: 0 -827px;
  padding-left: 100px;
  height: 56px;
  font-size: 22px;
  color: rgb(56, 51, 52);
  font-size: 24px;
  font-weight: bold;
}

.top-panel,
.facts {
  @extend .flex-row;
}

.top-panel {
  padding: 10px 0;
  justify-content: flex-end;
}

.facts {
  margin-left: 70px;
  max-width: 700px;
  &__item {
    padding-left: 40px;
    height: 40px;
    font-style: italic;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: $greyColor;
    line-height: 1.125;
    margin: 0 13px;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        background-position: 0 #{($i - 1) * -60px};
      }
    }
    &:nth-child(odd) {
      padding-left: 53px;
    }
  }
}
h1 {
  font-size: 44px;
  color: rgb(56, 51, 52);
  line-height: 1;
  font-weight: 900;
  display: block;
  max-width: 300px;
  @extend .flex-column;
}
.small {
  font-size: 0.75em;
  font-weight: bold;
}
.big {
  font-size: 1.5em;
}
.marked {
  color: $markedColor;
  font-weight: 500;
}
.underline {
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    width: 100%;
    height: 7px;
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: -1;
  }
  &--green {
    &::after {
      background-color: $greenColor;
    }
  }
  &--orange {
    &::after {
      background-color: $orangeColor;
    }
  }
}

.treatment {
  max-width: 365px;
  margin-top: 45px;
  box-sizing: border-box;
  padding-left: 75px;
  background-position: 0 -490px;
  &__step {
    font-size: 20px;
    color: rgb(68, 68, 68);
    line-height: 1.2;
    &:nth-child(2) {
      margin: 30px 0;
    }
  }
  .underline::after {
    height: 3px;
  }
}

.hero {
  position: relative;
  margin-top: 30px;
  min-height: 680px;
  padding-bottom: 30px;
  &__wrapper {
    @extend .flex-row;
    justify-content: flex-end;
  }
  &__text {
    max-width: 365px;
  }
}
.mikocine-drugs {
  position: absolute;
  bottom: -60px;
  left: -100px;
  left: -10%;
  left: -5vw;
  max-width: 700px;
  width: 100%;
  span {
    position: absolute;
  }
}

.order {
  position: relative;
  margin-left: 55px;
  right: 25px;
  top: 0;
  background-color: white;
  @extend .flex-column;
  align-items: stretch;
  max-width: 270px;
  border: 10px solid $greenColor;
  border-radius: 15px;
  -webkit-box-shadow: 0px -7px 100px 15px $orderShadowColor;
  -moz-box-shadow: 0px -7px 100px 15px $orderShadowColor;
  box-shadow: 0px -7px 100px 15px $orderShadowColor;
  box-sizing: border-box;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  &::after {
    position: absolute;
    top: 30%;
    right: -35px;
    content: '';
    background: url('../images/icons-sprite.png');
    background-position: 0 -180px;
    width: 49px;
    height: 233px;
  }
  &__main {
    padding: 40px 30px 0;
    @extend .flex-column;
  }
  header {
    text-align: center;
    font-size: 20px;
    line-height: 1.1;
    @extend .flex-column;
    margin-bottom: 15px;
  }
  input {
    border: none;
    width: 220px;
    height: 65px;
    padding: 25px 0 25px 55px;
    box-sizing: border-box;
    background-color: $inputBackgroundColor;
    margin: 5px 0;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    &[name='name'] {
      background-position: 20px -883px;
    }
    &[name='phone'] {
      background-position: 20px -926px;
    }
  }
  &__expiration {
    color: $orangeColor;
    font-weight: 500;
  }
  &::before {
    position: absolute;
    @extend .sprite;
    top: -10px;
    left: 45px;
    content: 'Бесплатно';
    padding-left: 45px;
    width: 160px;
    height: 35px;
    box-sizing: border-box;
    border: 10px solid $greenColor;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 0;
    background-color: #ebf3fb;
    background-position: 9px -792px;
  }
  &__prices {
    @extend .flex-row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__price {
    @extend .flex-column;
    margin: 0 6px;
  }
  &__price-name {
    font-size: 14px;
    margin-bottom: 8px;
    &--old {
      color: $greyColor;
    }
  }
  &__submit {
    box-sizing: border-box;
    background-color: $yellowColor;
    border-radius: 32px;
    border: none;
    background-image: -moz-linear-gradient($yellowGradient);
    background-image: -webkit-linear-gradient($yellowGradient);
    background-image: -ms-linear-gradient($yellowGradient);
    width: 218px;
    height: 70px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 45px;
    line-height: 0.85;
    text-align: center;
    position: relative;
    margin: 10px 0;
    &::before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      top: 5px;
      left: 5px;
      width: 208px;
      height: 60px;
      z-index: 2;
      opacity: 0.3;
      background: transparent;
      border: 2px solid white;
      border-radius: 27px;
      -webkit-border-radius: 27px;
      -moz-border-radius: 27px;
      -ms-border-radius: 27px;
      -o-border-radius: 27px;
    }
  }
  &__packs-left {
    font-size: 18px;
    color: rgb(51, 51, 51);
    text-align: center;
    padding: 10px 0 15px;
  }

  &__data-protected {
    padding: 16px 0 16px 55px;
    background-color: #eef2f7;
    font-size: 14px;
    color: $greyColor;
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-position: 25px -979px;
    // width: 19px;
  }
}
#packs-left {
  color: $greenColor;
}
.price {
  width: 100px;
  height: 40px;
  //display: block;
  font-size: 34px;
  font-weight: 900;
  @extend .flex-row;
  justify-content: center;
  color: black;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  &--new {
    background-color: $yellowColor;
  }
  &--old {
    background-color: white;
    font-weight: 300;
    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 90%;
      height: 1px;
      top: 16px;
      background-color: red;
    }
    &::before {
      left: 3px;
      transform: rotate(14deg);
      -webkit-transform: rotate(14deg);
      -moz-transform: rotate(14deg);
      -ms-transform: rotate(14deg);
      -o-transform: rotate(14deg);
    }
    &::after {
      right: 3px;
      transform: rotate(166deg);
      -webkit-transform: rotate(166deg);
      -moz-transform: rotate(166deg);
      -ms-transform: rotate(166deg);
      -o-transform: rotate(166deg);
    }
  }
  &--pills {
    color: white;
    background-color: $greenColor;
    right: 160px;
    top: 120px;
  }
  &--gel {
    color: white;
    background-color: $orangeColor;
    right: 265px;
    top: -15px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 30px;
  margin-top: 40px;
  padding-top: 80px;
  &::before {
    @extend .sprite;
    position: absolute;
    content: '';
    top: 0;
    left: auto;
    width: 100px;
    height: 56px;
    background-position: 0 -827px;
  }
}
.fungus-info {
  width: 100%;
  &__title {
    position: relative;
    font-size: 48px;
    color: rgb(56, 51, 52);
    text-align: center;
    font-weight: 900;
  }
  &__subtitle {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0;
  }
  &__deseases {
    @extend .flex-row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.desease {
  // @extend .flex-column;
  // max-width: 360px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  // grid-template-areas: 'image title title' 'image desc desc';
  grid-template-areas: 'image title title' 'desc desc desc';
  max-width: 30%;
  flex-wrap: wrap;
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) &__upper::before {
      @extend .flex-row;
      justify-content: center;
      position: absolute;
      content: '#{$i}';
      font-size: 30px;
      color: white;
      top: 15px;
      left: 140px;
      width: 4.6vw;
      height: 4.6vw;
      max-width: 50px;
      max-height: 50px;
      border-radius: 50%;
      background-color: nth($deseasesLabelColors, $i);
      z-index: 100;
    }
  }
  &__image {
    max-width: 188px;
    grid-area: image;
  }
  &__title {
    @extend .flex-row;
    font-size: 22px;
    line-height: 1.182;
    font-weight: 500;
    text-align: left;
    margin-left: 19px;
    grid-area: title;
  }
  &__description {
    grid-area: desc;
    position: relative;
    font-size: 18px;
    color: rgb(68, 68, 68);
    line-height: 1.556;
    text-align: left;
    max-width: 312px;
    box-sizing: border-box;
    padding-top: 20px;
    margin-top: 25px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 17%;
      height: 3px;
      background-color: #becbd8;
    }
  }
}

aside {
  position: relative;
  margin-top: 70px;
  border: 3px solid rgb(244, 211, 187);
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  box-sizing: border-box;
  font-size: 22px;
  text-align: center;
  padding: 45px 70px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  &::before {
    @extend .sprite;
    content: '';
    position: absolute;
    width: 170px;
    height: 38px;
    top: -20px;
    left: 41%;
    background-position: 50px -433px;
    background-color: white;
  }
}

@import './small-desktops.scss';
