@media only screen and (max-width: 768px) {
  .container {
    background-position: 65% -2px; }
  .facts {
    flex-wrap: wrap;
    justify-content: center; }
  .top-panel {
    flex-direction: column; }
  .logo {
    padding-left: 100px;
    margin-bottom: 25px;
    margin-left: 0; }
  .hero__wrapper {
    flex-wrap: wrap;
    justify-content: center; }
  .hero__text {
    padding-left: 10px;
    max-width: 100%; } }

@media only screen and (max-width: 700px) {
  .treatment,
  h1 {
    max-width: 95%;
    margin: 0 auto; }
  h1 {
    text-align: center; }
  .treatment {
    max-height: 305px;
    height: 305px;
    padding-bottom: 10px; }
    .treatment__step:first-child {
      margin: 25px 0 55px;
      margin: 5vw 0 9.5vw;
      padding-top: 10px; }
    .treatment__step:nth-child(2) {
      margin: 50px 0;
      margin: 9.5vw 0; }
    .treatment__step:last-child {
      margin-top: 70px;
      margin-bottom: 0; }
  .mikocine-drugs img {
    width: 100%; }
  .order {
    margin-top: 70px; }
  .disease__title {
    font-size: 28px; }
  .disease__image {
    margin-right: 30px; } }

@media only screen and (max-width: 600px) {
  .disease:nth-child(n)::before {
    top: 0;
    left: 100px; }
  .disease__image {
    max-width: 145px; }
  .disease__description {
    font-size: 15px; }
  .price--pills {
    right: 200px; }
  .price--gel {
    right: 135px;
    top: 90px; }
  .treatment {
    padding-bottom: 20px; }
    .treatment__step {
      font-size: 3.55vw; } }

@media only screen and (max-width: 500px) {
  .facts__item {
    font-size: 14px; }
  .treatment__step {
    font-size: 17.5px; }
  .fungus-info__title {
    font-size: 30px; }
  .fungus-info__subtitile {
    font-size: 18px;
    margin-top: 10px; }
  .fungus-info__diseases {
    max-width: 100%;
    padding: 0 10px; }
  .disease {
    grid-template-rows: 60px 1fr; }
    .disease__title {
      font-size: 17px; }
    .disease__description {
      padding-top: 10px;
      font-size: 13px; }
    .disease__image {
      margin-right: 30px; }
  .price--pills {
    right: 150px; }
  .price--gel {
    right: 110px;
    top: 65px; }
  aside {
    font-size: 17px; } }

@media only screen and (max-width: 385px) {
  .treatment__step:last-child {
    margin-top: 50px; }
  .price--gel {
    right: 90px;
    top: 60px; } }
