@media only screen and (max-width: 920px) {
  .container {
    background-position: 60% -2px; }
  .top-panel {
    flex-direction: column; }
  .logo {
    padding-left: 100px;
    margin-bottom: 25px;
    margin-left: 0; }
  .hero {
    margin-top: 20px; } }
